<!-- <div class="container">
    <div class="row" >
        <div class="col-xs-12" >
            <label > Server Name</label>
            <input type="text" class="form-control" [(ngModel)]="serverName">
            <button class="btn btn-primary" [disabled] = "serverName === ''" (click)="onCreateServer()">Add Server Name</button>
            <br>


            <p *ngIf = "serverCreated; else noServer" >{{serverCreationStatus}}</p>
            <br>
            <ng-template #noServer>
              <p >No server was created</p>
            </ng-template>
            <label > Username</label>
            <input type="text" class="form-control" [(ngModel)]="username">
            <br>
            <p >{{username}}</p>
            <button class="btn btn-primary" [disabled] = "username === ''" (click)="username = ''">Reset User</button>
            <p [ngStyle]="{backgroundColor: getColor()}">{{'server'}} with ID {{serverId}} is {{getServerStatus()}}</p>
        </div>
    </div>
</div> -->


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
      <br>
      <br>
      <button class="btn btn-primary" style="background-color: blueviolet;" (click)="onToggleDetails()">Display
        Details</button>
      <p *ngIf="showSecret"> Secret Password = tuna</p>
      <div *ngFor="let logItem of log"
      [ngStyle]="{backgroundColor: logItem >= 5? 'blue' : 'Transparent'}"
      [ngClass]="{'white-text' : logItem >= 5}">

      {{logItem}}

      </div>

    </div>
  </div>
</div>
