<div class="container">
    <div class="row" >
        <div class="col-xs-12" >
            <label > Server Name</label>
            <input type="text" class="form-control" [(ngModel)]="serverName">
            <button class="btn btn-primary" [disabled] = "serverName === ''" (click)="onCreateServer()">Add Server Name</button>
            <br>


            <p *ngIf = "serverCreated; else noServer" >{{serverCreationStatus}}</p>
            <br>
            <ng-template #noServer>
              <p >No server was created</p>
            </ng-template>
            <label > Username</label>
            <input type="text" class="form-control" [(ngModel)]="username">
            <br>
            <p >{{username}}</p>
            <button class="btn btn-primary" [disabled] = "username === ''" (click)="username = ''">Reset User</button>
            <p [ngStyle]="{backgroundColor: getColor()}">{{'server'}} with ID {{serverId}} is {{getServerStatus()}}</p>
        </div>
    </div>
</div>
